.navbar{
    background-color: rgba(39, 22, 23, 0.884);
    margin: 0px;
     padding: 0px;
     margin-bottom: 30px;
}
li{
    font-weight: bold;
    margin-left: 100px;

}
li a{
    color: khaki;
}
#demo{
    margin-left: 50px;
    color:rgb(255, 174, 0);
   font-weight: 800;

}
.disabled{
pointer-events: none;
opacity: 0.7;
}
.partialDosable{
    opacity: 0.7;
}
